body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.page-content {
  padding: var(--space-lg) var(--space-xl);
}

.error-msg {
  color: red;
  margin-top: var(--space-sm);
}
